body {
  background: black;
}
#gamecontainer {
  margin: 0 auto;
}

#game {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 800px;
  height: 600px;
  border: 1px solid #555;
}

canvas {
  border: 1px solid #555;
  margin: 10px;
  cursor: crosshair;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

